services:
  db:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpassword
      # max upload size
      PHP_UPLOAD_MAX_FILESIZE: 1G
      PHP_MAX_INPUT_TIME: 600
      # page max upload size
      PMA_USERFILE_UPLOAD: true
      PMA_UPLOAD_MAX_FILESIZE: 1G
      UPLOAD_LIMIT: 300M

    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data: